/*
 * This is a sample configuration file.
 * Copy this file to server.settings.js and edit that file to fit your
 * Cassandra connection and other settings.
 *
 * You can also override these settings with command line options, run
 * $ node server.js --help
 * to view them.
 */

module.exports = {
    // Database connection settings.
    "backend": {
        // Database type.
        "type": "cassandra",

        // Database options.
        "options": {
            // Array of string in host:port format. Port is optional (default 9042).
            "hosts": ["localhost"],

            // Name of keyspace to use.
            "keyspace": "testreducedb",

            // User for authentication.
            "username": "testreduce",

            // Password for authentication.
            "password": "",

            // Number of connections to open for each host (default 1).
            "poolSize": 1,

            // CQL consistencies defined as properties.
            "consistencies": {
              "read": "one",
              "write": "one"
            }
        }
    },

    // Number of times to try fetching a page.
    "fetches": 6,

    // Number of times an article will be sent for testing before it's
    // considered an error.
    "tries": 6,

    // Time in seconds to wait for a test result. If a test takes longer than
    // this, it will be considered a crash error. Be careful not to set this to
    // less than what any page takes to parse.
    "cutofftime": 600
};
